<h3><%= "#{@contact.name}'s info" %></h3>
<div>
	<%= @contact.name %>
</div>
<div>
	<%= @contact.address %>
</div>
<div>
	<%= @contact.phone_number %>
</div>
<div>
	<%= @contact.email %>
</div>
<a href="/contacts">Back to contact list </a>
